

<%# link_to 'Logout', session_path(session[:current_user]["id"]), method: :delete %>

<%= render "navbar" %>


<div class= "m-l-15"> Welcome <%= @user.first_name %> </div>

<%= render "articles/articles"%>

